{% extends "BlogBundle::layout.html.twig" %}



{% block page_title %}Log In{% endblock %}

{% block main %}
    <div id="container blog-container">
        {% if error %}
            <div>{{ error.message }}</div>
        {% endif %}

        <form action="{{ path('login_check') }}" method="post">
            <p><label for="username">Username:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" /></p>

            <p><label for="password">Password:</label>
            <input type="password" id="password" name="_password" /></p>

            <hr/>
            <button type="submit" class="btn btn-primary pull-right">login</button>
        </form>
    </div>
{% endblock %}
